*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:  juventus-Fans-Bold;
    font-size: 16px;
    line-height: 20px;
    color: black;
}
a{
    text-decoration: none;
}

.container{
    width: 100%;
    height: 100vh;
    margin: 0px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1.2fr;
    grid-template-rows: 1fr 4fr 1.2fr 1.2fr;
    grid-template-areas: "logo   logo   header"
                         "main   main   imgBox"  
                         "quotes quotes imgBox"
                         "btn1   btn2   imgBox" ; 
}
.logo{
    grid-area: logo;
    background-color: rgba(216, 206, 206, 0.815);
    display: flex;
    align-items: center;
    padding-left: 125px;
}
.logo a{
    color: rgba(0, 0, 0, 0.815);
    font-size: 41px;
    font-weight: 800;
    text-decoration: none;
}
.main{
    grid-area: main;
    background-color: rgba(0, 0, 0, 0.815);
    padding: 0 125px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.main h1{
    font-size: 36px;
    line-height: 49px;
    font-weight: 700;
    color: aliceblue;
    margin-bottom: 30px;
    max-width: 350px;
}
.main h1{
    animation-delay: .5s;
}
.main p{
    color: aliceblue;
    animation-delay: 1s;
}
.pop-in{
    animation: popIn 2s ease-in 2s forwards;
    opacity: 0;
}
@keyframes popIn{
    from{
        opacity: 0;
        transform: translateX(-100px) scale(0.8);
    }
    to{
        opacity: 1;
        transform: none;
    }
}
.quotes{
    grid-area: quotes;
    background-color: rgb(216, 216, 216);
    padding-left: 125px;
    display: flex;
    align-items: center;
}
.quotes h2{
    font-size: 21px;
    line-height: 33px;
    font-weight: 700;
}
.btn1 a {
    color: black;
    font-size: 22px;
    font-weight: 700;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn2 a{
    color: white;
    font-size: 22px;
    font-weight: 700;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn1{
    grid-area: btn1;
    background-color: rgb(216, 216, 216);
   
    
}
.btn2{
    grid-area: btn2;
    background-color: rgba(0, 0, 0, 0.815);
}
.btn{
    transition: background-color .2s ease-in-out ;
}
.btn:hover{
    background-color: aliceblue;
}
header{
    grid-area: header;
    background-color: rgb(216, 216, 216);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 30px;
}
header ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
header ul li a{
    padding: 30px 15px;
    font-weight: 700;
    color: black;
    transition: color .4s ease-in;
}

header ul li:hover a{
    color:white;
}
.img-box{
    grid-area: imgBox;
    background-color: rgb(216, 216, 216);
    overflow: hidden;
    background: url(images/Juventus.jpg) no-repeat top center;
    background-size: cover;
}
.slide-in{
    animation: slidIn 2s ease forwards;
}
@keyframes slidIn{
    0%{
        opacity: 0;
        transform: translateX(150px);
    }
    100%{
        opacity: 1;
    }
}


@media(max-width: 767px){ 
   
    .container{
        height: auto;
        overflow: hidden;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:  "logo   logo"
                              "header header"
                              "imgBox imgBox"
                              "main   main"
                              "quotes quotes"
                              "btn1   btn2";
        grid-template-rows: 100px 50px auto auto 70px;

    }

    .logo{
        padding-left: 0;
        justify-content: center;
    }
    .main{
        padding: 50px 24px;
    }
    .main h1{
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 12px;
    }
    .quotes{
        padding: 20px 24px;
    }
    .quotes h2{
        font-size: 20px;
        line-height: 28px;
    }
    .btn a{
        font-size: 18px;
    }
    header{
        padding-right: 0;
        background: fixed;
        justify-content: center;
    }
}
@media(min-width: 768px) and (max-width: 950px){
    .logo, .main, .quotes{
        padding-left: 25px;
    }
} 